<div class="row">
	<div class="well col-lg-12">
		<h2 style="text-align: center;">معلومات موظفي المزود </h2>
		<h4 style="text-align: right;"><%= link_to 'موظف جديد', new_isp_isp_hr_path(isp, :i_term => params[:i_term]) %></h4>
		<table class="table  table-bordered hr_table">
			<thead>
				<th>الاسم</th>
				<th>العمل</th>
				<th>ر.منزل</th>
				<th>ر.عمل</th>
				<th>ر.موبايل</th>
				<th>العنوان</th>
				<th>آخر تحديث</th>
				<th>خيارات</th>
			</thead>
			<tbody>
				<% isp.isp_hrs.each do |p| %>
					<tr>
						<td><%= p.name %> </td>
						<td><%= p.job %></td>
						<td ><ul class="p_home_num"><li><%= p.home_n %></li><li><%= p.home_n2 %></li></ul></td>
						<td ><ul class="p_home_num"><li><%= p.work_n %></li><li><%= p.work_n2 %></li></ul></td>
						<td ><ul class="p_home_num"><li><%= p.mob_n %></li><li><%= p.mob_n2 %></li></ul></td>
						<td><%= p.address %></td>
						<td><%= p.updated_at %></td>
						<td> <%= link_to 'تعديل' , edit_isp_isp_hr_path(isp,p)%> &nbsp;&nbsp; <%= link_to 'حذف' , isp_isp_hr_path(isp,p), data: {:confirm => 'Are you sure?'}, :method => :delete %> </td>
					</tr>
				<% end %>				
			</tbody>

		</table>
	</div>
</div>

