<div class="row">
	<div class="well col-lg-12">
		<h2 style="text-align: center;">ملاحظات </h2>
		<h4 style="text-align: right;"><%= link_to 'ملاحظة جديدة', new_isp_note_path(isp, :i_term => params[:i_term]) %></h4>
		<table class="table table-bordered" style="direction: rtl;">
			<thead>
				<th>
					الملاحظة
				</th>
				<th>
					التاريخ
				</th>
				<th>
					الخيارات
				</th>
			</thead>
			<tbody>
					<% isp.notes.each do   |n| %>
						<tr>
							<td><%= n.note %></td>
							<td><%= n.created_at %></td>
							<td><%= link_to 'تعديل' , edit_isp_note_path(isp,n) %> &nbsp;&nbsp; <%= link_to 'حذف' , isp_note_path(n), data: {:confirm => 'متأكد?'}, :method => :delete %>  </td>
						</tr>

					<% end %>
			</tbody>
		</table>
	</div>
	
</div>