<div class="row">
	<div class="well col-lg-12">
		<h2 style="text-align: center;">حسابات </h2>
		<h4 style="text-align: right;"><%= link_to 'حساب جديد', new_isp_isp_adsl_account_path(isp, :i_term => params[:i_term]) %></h4>
		<table class="table table-bordered" style="direction: rtl;">
			<thead>
				<th>
					الحساب
				</th>
				<th>
					كلمة السر
				</th>
				<th>
					التاريخ
				</th>
				<th>
					الخيارات
				</th>
			</thead>
			<tbody>
					<% isp.isp_adsl_accounts.each do   |a| %>
						<tr>
							<td><%= a.account %></td>
							<td><%= a.adsl_password %></td>
							<td><%= a.created_at %></td>
							<td><%= link_to 'تعديل' , edit_isp_isp_adsl_account_path(isp,a) %> &nbsp;&nbsp; <%= link_to 'حذف' , isp_isp_adsl_account_path(a), data: {:confirm => 'متأكد?'}, :method => :delete %>  </td>
						</tr>

					<% end %>
			</tbody>
		</table>
	</div>
	
</div>
