

  <div class="page-header">
   <h1>
 	  <span style="letter-spacing: -1px; font-weight: bold;"><%= title %> </span>
	  <% case title %>
	   <% when 'ISPs' %>
	   	 | <%= link_to 'Back to Home page' , root_path , :class => 'btn btn-danger' %>
			<%= link_to 'Add new isp' , new_isp_path , :class => 'btn btn-success  pull-right'%>

	   <% when 'Requests' %>
		 | <%= link_to 'Back to Home page' , root_path , :class => 'btn btn-danger' %> 
	   <% when 'Request New' %>
		 | <%= link_to 'Back to Requests' , requests_path , :class => 'btn btn-danger' %>
	   <% when 'ISP EDIT' %>
	   	 | <%= link_to 'Back to ISPs' , isps_path , :class => 'btn btn-danger' %>
	   <% when 'New ISP' %>
	   	 | <%= link_to 'Back to ISPs' , isps_path , :class => 'btn btn-danger' %>
	   <% when 'ISP Show' %>
	   	 | <%= link_to 'Back to ISPs' , isps_path , :class => 'btn btn-danger' %>
	   <% when 'Ip Ranges' %>
	   	 | <%= link_to 'Back to ISP' , isp_path(@isp) , :class => 'btn btn-danger' %>
	   <% when /INFO/ %>
	   	 | <%= link_to 'Back to ISPs' , isps_path , :class => 'btn btn-danger' %>	   	 
	   <% when /Range Edit/ %>
	   	 | <%= link_to 'Back to Ip Ranges' , isp_ip_ranges_path(@isp) , :class => 'btn btn-danger' %>
	   	<% when 'New Person' %>
	   	 | <%= link_to 'Back to Isp' , isp_path(@isp) , :class => 'btn btn-danger' %> 	   	 
	   	<% when /Note/ %>
	   	 | <%= link_to 'Back to Isp' , isp_path(@isp) , :class => 'btn btn-danger' %> 	   	 
	  <% end %>
   </h1>
  </div>

