<%= render 'shared/page_title' , title: "العمليات" %>
<div class="row"">	
	<div class="col-lg-12 well" style="direction: rtl;">
		<h2>جدول العمليات | <%= link_to 'إضافة عملية جديدة' , new_request_path , :class => 'btn btn-success'%></h2>		             
		  <table class="table  table-bordered table-striped ">
		    <thead>
		      <tr>
		        <th>المزود</th>
		        <th>العنوان العام</th>
		        <th>عنوان الموجه</th>
		        <th>العنوان الخاص</th>
		        <th>تاريخ الاسناد</th>
		        <th>تاريخ التحرير</th>
		        <th>آخر تحديث</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @requests.each do |request| %>
		      	<tr>
		      		<td><%= Isp.find(request.isp_id).name %></td>
		      		<td><%= request.public_ip %></td>
		      		<td><%= request.router_ip %></td>
		      		<td><%= request.private_ip %></td>
		      		<td><%= request.assign_date %> </td>
		      		<td><%= request.release_date%> </td>
		      		<td><%= request.updated_at %></td>
		      	</tr>
		      <% end %>		      
		    </tbody>
		    <%= will_paginate %>
		  </table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 well" style="direction: rtl;"> 
		<h3>بحث ضمن جدول العمليات | </h3>
		بحث ضمن بيانات العمليات لمزود واحد، أو البحث لبيانات يوم محدد
	</div>
</div>



<hr/>
	






