<%= render 'shared/page_title' , :title => "الصفحة الرئيسية" %>


<!-- This page contains: huge jomputron contains three or four buttons for:
	1. Requests index page (which contains search facilities)
	2. ISPs index page.
-->
<div class="row">
	<div style="background-color: #fff7e6; border: 1px solid black;" class="col-lg-12 jumbotron home_jumpo">
		<%= link_to 'Requests' , requests_path , :class => 'btn btn-success home-button' %>
		<%= link_to 'ISPs' , isps_path , :class => 'btn btn-success home-button' %>
	</div>
</div>


<div style="background-color: #fff7e6; border: 1px solid black;" class="row jumbotron home_jumpo">
	<h3 style=" text-align: center; margin-top: 0px;">البحث عن عنوان رقمي</h3>
	<div class="col-lg-3 pull-right" style="margin-top: 35px;">
		<%= render 'shared/errors' , :obj => @ip_search %>
		<%= form_for(@ip_search , :url => search_path , :class => 'general-form', remote:  :true, :validate=>true) do |f| %>
  			<%= f.label(:ip_term, 'بحث عن العنوان الرقمي') %>		
			<%= f.text_field(:ip_term) %>
			<%= f.submit('بحث' , name: nil) %>
		<% end %>
	</div>
	<div class="col-lg-6 col-lg-offset-2 ip_result_div" >
		
	</div>
</div>
