<%= render 'shared/errors' , obj: @isp %>

<div class="row">
	<div class="well"> 
		<%= form_for(@isp , html: {class:  'general-form'})  do |isp| %>
			<%= isp.label(:name , "اسم المزود")%>
			<%= isp.text_field(:name ) %>
			<%= isp.label(:note, "الملاحظات") %>
			<%= isp.text_field(:note) %>
			<%= isp.submit(@isp.new_record? ? "إنشاء مزود" : "تحديث معلومات مزود", class: "btn btn-success") %> 
		<% end %>
	</div>

</div>

