<%= render 'shared/errors' , obj: @isp %>

<div class="row">
	<div class="well"> 
		<%= form_for @isp  do |isp| %>
			<%= isp.label(:name , "ISP Name")%>
			<%= isp.text_field(:name ) %>
			<%= isp.label(:note, "Notes") %>
			<%= isp.text_field(:note) %>
			<%= isp.submit(@isp.new_record? ? "Create ISP" : "Update ISP info", class: "btn btn-success") %> 
		<% end %>
	</div>

</div>

