<%= render 'shared/page_title' , title: "ISPs" %>

<div class="well">
	<h2>ISPs table | <%= link_to 'Add new isp' , new_isp_path , :class => 'btn btn-success'%></h2>
	<table class="table table-striped table-bordered index_table">
		<thead>
			<tr>
				<th class="table_seq">Seq</th>
				<th>Name</th>
				<th>Ranges</th>
				<th>Options</th>			
			</tr>			
		</thead>
		<tbody>
			<% @isps.each do |isp| %>

			<tr>
				<td class="table_seq">
					<%= isp.id %>  
				</td>
				<td>
					<%= isp.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%= link_to 'Show' , isp_path(isp) %>
				</td>
				<td>
					<% # link_to 'Show Ip Ranges', isp_ip_ranges_path(isp) %>
					<% # link_to '...' , "#ip_ranges_modal" , "class" => "btn btn-sm" , "data-toggle" => "modal"    %>
					<button id="ip_ranges_modal_btn"  class="btn" >.......</button>


					<%= render 'ip_ranges_modal' , isp_i: isp %>
				</td>
				<td class="isp_options">
					<%= link_to "Edit", edit_isp_path(isp) %>
				</td>
			</tr>
		</tbody>

		<% end %>
	</table>
</div>

<script>
$(document).ready(function(){
    $("#ip_ranges_modal_btn").click(function(){
        $("#ip_ranges_modal").modal({backdrop: false});
    });    
});
</script>
