<!DOCTYPE html>
<html>
  <head>
    <title>RadiusTracer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #fff7e6;">
  	<%= render 'layouts/navigation' %>
    <div class="container" style="direction: rtl;">
    	<%= render 'layouts/messages' %>
    	<%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
